@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.left {
  width: 35%;
  background-image: url("./img/bg.jpg");
  background-size: 100%;
}

img {
  width: 10%;
}

.logo {
  width: 20%;
}

.title {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Pacifico";
  color: #ede7e3;
}

.right {
  width: 65%;
  background-color: #f8f9fa;
}
